@import url("Raleway-Italic-VariableFont_wght.ttf");

body {
    margin-left: 3%;
}

h1, h2, h3, h4 {
    font-family: "Raleway";
}

a {
    text-decoration: none;
}

nav img {
    width: 61px;
    height: 19px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0% 4% 4% 0%;
}

#menu {
    display: flex;
    flex-direction: row;
    margin-left: 70%;
}

#bleu, #noir { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style-type:none;
    height: 15px;
}

#bleu {
    margin-left:-55%;
}

#bleu span:hover, #noir span:hover {
    color:#0065FC;
    cursor: pointer;
    border-top: solid #0065FC;
    padding-top: 23px;
}

/*==========================================================================================================================================================================*/

h1 { 
    font-family: 'Raleway';
    font-style: normal;
    color: #000000;
    font-weight:700;
    font-size: 22px;
    line-height: 28px;
}

.lieu1 {
    margin-top:-3%;
    display: flex;
    flex-direction: column;
}

aside h1 {
    width: 350px;
    height: 35px;
}

.lieu p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/*=======================================================================================================================================================================*/

.rechercher {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.marseille {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-top: 1.5%;
}

.carrer_gris {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;

}

.rectangle2 {
    position: relative;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
}

button {
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.rechercherBleu {
    position: relative;
    height: 49px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 15%;
}

h3  {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.fa-location-dot {
    margin: 30% 40%;
}

/*=========================================================================================================================================================================*/

.filtre_barre {
    margin-top:4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
}

.filtre i {
    color: #0065FC;
}

.filtre:hover {
    background: #DEEBFF;
}

.filtre {
    display: flex;
    flex-direction: row;
    color: #000000;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: content-box; 
    font-family: 'Raleway';
    font-style: normal;
    font-size: 19px;
    gap:6px;
    padding: 9px 12px;
}

.barre_info {
    display: flex;
    flex-direction: row;
    margin-top:4%;
    gap:10px;
}

.barre_info p {
    width: 412px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.fa-info {
    font-size: 10px;
    width:14px;
    height:14px;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    color:#0065FC;
}

/*=================================================================================================================================*/
section {
    display: grid;
    flex-direction: row;
    grid-template-columns: 67% 100%;
    margin-top: 4%;
}

article {
    margin-right: 5%;
    background: #F2F2F2;
    border-radius: 20px;
}

article h2, aside h2 { 
    margin-left: 7.3%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

article h3 {
    margin-left: 7%;
    margin-top:2%;
    margin-bottom: 5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}



.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: -10px;
}

.hebergement {
    width: 150px;
    height: 120px;
    text-decoration: none;
}

.image {
    display: flex;
    flex-direction: column;
    width:150px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 20px;
}

.image figcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -9px;
    margin-left: 5%;
}

h4 {   
    font-family: 'Raleway';
    font-size: 11px;
    color: #000000;
    margin: 7px 0px 0px 0px;
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    color: #000000;
    margin: 0px;
}

.image img {
    box-sizing: border-box;
    border:solid 3px white;
    width: 100%;
    height:70%;
    border-radius: 20px 20px 0px 0px;
}


/*=======================================================+++===========================================================================*/


aside {
    width: 30%;
    background: #F2F2F2;
    border-radius: 20px;
}

aside h2 {
    margin-left: 0%;
}

.titre_aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    gap:20%;
}

.titre_aside i {
    color: #0065FC;
}

.a_cards2 {
    width: 230px;
    height: 105px;
    margin-top: -10px;
    margin-left: -6%;
    text-decoration: none;
}

.cards2 {
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 230px;
    height: 105px;
}

.populaire {
    width: 230px;
    height: 95px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.populaire img {
    width:40%;
    height: 94px;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    border:solid 3px white;
}

.populaire1 h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    color: #000000;
}

.stars {
    display: inline-flex;
}

.populaire figcaption {
    margin-left: 4%;
}

.fa-star {
    color: #0065FC;
    margin-top:2%;
    font-size: 10px;
}

.grey {
    color:#F2F2F2;
}

.populaire .stars {
    margin-top: 32px;
} 

.populaire2 .stars {
    margin-top: 32px;
}

.populaire3 .stars {
    margin-top: 45px;
}

/*============================================================================================================================================================*/

#activite {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

#activite h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
 
.cards3 {
    display: flex;
    flex-direction: row; 
    margin-left:-5%;
    gap:34px;
}

.a_activite {
    text-decoration: none;
    width:200px;
    height:300px;
    margin-left:0.7%;
}

.activite {
    width: 200px;
    height: 300px;
    background: #FFFFFF;
    border-radius:20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activite figcaption {
    display: flex;
    margin-left: 19px;
}

.activite img {
    width: 100%;
    height:90%; 
    border-radius:20px 20px 0px 0px;
}

.activite h4 {
    font-size: 13px;
    list-style-type: none;
}

/*=================================================================================================================================================================*/

footer {
    margin-top: 6%;
    width: 97%;
    background: #F2F2F2;
    margin-bottom: -10px;
}

footer h4 {
    font-size: 16px;
    margin-left: 37px;
}

footer li {
    list-style-type: none;
    margin-top: 7px;
    font-size: 14px;
}

.aide {
    display: flex;
    flex-direction: row;
    gap: 115px;
}

.act {
    display: flex;
    flex-direction: column;
}

.propos {
    margin-left:18px;
}


@media screen and (min-width:1024px) {
    .cards3 {
        gap:44px;
    }

    .assistance {
        margin-left: 25px;
    }
}


@media screen and (min-width:1440px) {

    body {
        max-width:1400px;
        margin-left: 3%;
    }

    h1 {
        font-size: 25px;
    }

    nav img {
        width: 81px;
        height: 25px;
    }

    #bleu, #noir {
        font-size: 20px;
    }

    #bleu span:hover, #noir span:hover {
        border-top: solid #0065FC;
        padding-top: 21px;
    }

    .lieu1 {
        margin-top: -2%;
    }

    .rechercher {
        margin-top: 2%;
    }

    .filtre {
        padding:9px 22px;
    }

    .filtre_barre {
        gap:50px;
    }

    .barre_info {
        margin-top: 2%;
    }

    section {
        margin-top: 2%;
        grid-template-columns: 67% 100%;
    }

    article h3 {
        margin-left:5%;
        font-size: 24px;
    }

    .cards {
        gap:25px;
    }

    .hebergement {
        width: 246px;
        height: 199px;
    }

    .image {
        width: 246px;
        height: 199px;
    }

    .cards2, .a_cards2, .populaire {
        width:343px;
        height: 144px;
        margin-left: 13px;
        gap:33px;
    }

    .populaire img {
        margin-top: 0.5%;
        height: 99%;
        width: 40%;
    }

    h4 {
        font-size: 16px;
    }

    .populaire figcaption {
        margin-left: -4%;
    }

    .populaire figcaption .stars {
        margin-top:60px;
    } 
    
    .populaire3 figcaption .stars {
        margin-top: 80px;
    }

    .fa-star {
        font-size: 13px;
    }

    h2 {
        font-size: 24px;
    }

    .titre_aside {
        gap:170px;
    }

    #activite {
        margin-left: 1%;
    }

    #activite h2 {
        margin-left: -1%;
    }

    .activite {
        width:300px;
        height:420px;
    }

    .cards3 {
        gap:140px;
    }

    .activite h4 {
        font-size:18px;
    }

    footer {
        margin-top: 190px;
        width: 97%;
    }

    footer h4 {
        font-size:18px;
    }

    footer li {
        font-size: 16px;
    }

    .aide {
        margin-left: 10px;
        gap: 225px;
    }

    section p {
        margin-top:4px;
        font-size: 12px;
    }
}

@media all and (min-width:1441px) {
    body {
        margin: auto;
        max-width:1400px;
    }
}




@media all and (max-width:768px) {

    nav {
        gap:-58%;
    }

    #menu {
        margin-left: 65%;
    }

    h1 {
        font-size: 18px;
    }

    .filtre {
        padding: 8px 8px;
        font-size: 17px;
    }

    section {
        display: flex;
        flex-direction: column;
        width:97%;
    }

    h4 {
        font-size: 13px;
    }

    article {
        margin-right: 0%;
    }

    .cards {
        gap:80px;
    }

    .image {
        width:195px;
        height: 165px;
    }

    aside {
        margin-top: 5%;
        width:100%;
        height: 190px;
    }

    .titre_aside {
        margin-left:4.3%;
        gap:70%;
    }

    .cards2 {
        flex-direction: row;
        gap:10px;
    }

    .populaire {
        width: 200px;
        height: 105px;
    }

    .populaire img {
        height:105px;
    }

    .activite, .a_activite {
        height: 237px;
        width: 164px;
        margin-left: 15px;
    }

    .activite img {
        height:85%;
    }

    .marge figcaption h4 {
        margin-right: 50px;
    }

    .activite h4 {
        margin-top: 0px;
    }

    .activite figcaption {
        margin-left:25px;
    }

    footer {
        margin-top: 9%;
    }

    .cards3 {
        gap:5px;
    }

    .aide {
        gap:30px;
    }
}

/*@media all and (max-width:465px) {

    body {
        margin-right: 0px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav img {
        width:120px;
        height:40px;
        margin-bottom: 60px;
    }

    #menu {
        display:flex;
        flex-direction: row;
    }

    #bleu, #noir {
        font-size:40px;
    }

    #bleu :hover, #noir :hover {

    }

    .lieu  {
        display: flex;
        justify-content: center;
    }
}