@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    margin-left: 4%;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

nav img {
    width: 61px;
    height: 19px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:45px 0% 4% 0%;
}

#menu {
    display: flex;
    flex-direction: row;
    gap:3em;
    margin-right: 4%;
}

#bleu, #noir { 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    list-style-type:none;
    height: 15px;
}

#menu span:hover {
    color:#0065FC;
    cursor: pointer;
    border-top:solid #0065FC;
    padding-top:46px;
}

/*==========================================================================================================================================================================*/

h1 { 
    font-family: 'Raleway';
    font-style: normal;
    color: #000000;
    font-weight:700;
    font-size: 22px;
    line-height: 28px;
}

.lieu1 {
    display: flex;
    flex-direction: column;
}

aside h1 {
    width: 350px;
    height: 35px;
}

.lieu p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/*=======================================================================================================================================================================*/

.rechercher {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.marseille {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-top: 1.5%;
}

.carrer_gris {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.rectangle2 {
    position: relative;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
}

button {
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

.rechercher span {
    color:white;
    font-size: 18px;
    padding:5px 15px;
}

h3  {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.fa-location-dot {
    margin: 30% 40%;
}


.buttonBleu i {
    display: none;
}



/*=========================================================================================================================================================================*/

.filtre_barre {
    margin-top:4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:3%;
}

.filtres {
    display: flex;
    flex-direction: row;
    gap:14px;
}

.filtre i {
    color: #0065FC;
}

.filtre:hover {
    background: #DEEBFF;
}

.filtre {
    display: flex;
    flex-direction: row;
    color: #000000;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: content-box; 
    font-family: 'Raleway';
    font-style: normal;
    font-size: 15px;
    gap: 8px;
    padding: 9px 16px;
}

.barre_info {
    display: flex;
    flex-direction: row;
    margin-top:4%;
    gap:10px;
}

.barre_info p {
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.barre_info p br {
    display: none;
}

.fa-info {
    font-size: 10px;
    width:14px;
    height:14px;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    text-align: center;
    padding-top: 2px;
    color:#0065FC;
}

/*=================================================================================================================================*/
section {
    display: grid;
    flex-direction: row;
    grid-template-columns: 67% 100%;
    margin-top: 4%;
}

article {
    margin-right: 5%;
    background: #F2F2F2;
    border-radius: 20px;
}

h2 { 
    margin-left: 7.3%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

article h3 {
    margin-left: 7%;
    margin-top:2%;
    margin-bottom: 5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}


.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: -10px;
}

.hebergement {
    width:27%;
    text-decoration: none;
}

.image {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
    height:150px;
}

.image figcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -9px;
    margin-left: 5%;
}

h4 {   
    font-family: 'Raleway';
    font-size: 11px;
    color: #000000;
    margin: 7px 0px 0px 0px;
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    color: #000000;
    margin: 0px;
}

.image img {
    box-sizing: border-box;
    border:solid 3px white;
    width: 100%;
    height:70%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}


/*=======================================================+++===========================================================================*/


aside {
    width: 30%;
    background: #F2F2F2;
    border-radius: 20px;
}

aside h2 {
    margin-left: 0%;
}

.titre_aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 1%;
}


.titre_aside i {
    margin-right: 5%;
    color: #0065FC;
}

.a_cards2 {
    margin-top: -10px;
    text-decoration: none;
    width:100%;
    height: 120px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

 .populaire {
    width:90%;
    height: 120px;
    margin: 0px;
}

.cards2 {
    display: flex;
    flex-direction: column;
    gap:3em;
    align-items: center;
    margin-top: 10px;
}

.populaire {
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.populaire img {
    width:40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
    border:solid 3px white;
    object-fit: cover;
}

.populaire1 h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    color: #000000;
}

.stars {
    display: inline-flex;
}

.populaire figcaption {
    margin-left: 4%;
}

.fa-star {
    color: #0065FC;
    margin-top:2%;
    font-size: 10px;
}

.grey {
    color:#F2F2F2;
}

.populaire figcaption .stars {
    margin-top: 3.8em;
} 

.populaire3 figcaption .stars {
    margin-top: 4.5em;
}

/*============================================================================================================================================================*/

#activite {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

#activite h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin-left: 0%;
}
 
.cards3 {
    display: flex;
    flex-direction: row; 
    margin-right: 3%;
    gap: 2em;
}

.a_activite {
    text-decoration: none;
    width: 100%;
}

.activite {
    width: 100%;
    height: 95%;
    background: #FFFFFF;
    border-radius:20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin:0px;
}

.activite figcaption {
    display: flex;
    margin-left: 19px;
}

.activite img {
    width: 100%;
    height:90%; 
    border-radius:20px 20px 0px 0px;
    object-fit: cover;
}

.activite h4 {
    font-size: 13px;
}

/*=================================================================================================================================================================*/

footer {
    margin-top: 6%;
    width: 97%;
    background: #F2F2F2;
    margin-bottom: -10px;
}

footer h4 {
    font-size: 16px;
    margin-left: 37px;
}

footer li {
    list-style-type: none;
    margin-top: 7px;
    font-size: 14px;
}

.aide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 24%;
    margin-left: 3%;
}

.act {
    display: flex;
    flex-direction: column;
}

/*@media screen and (min-width:1024px) {
    .cards3 {
        gap:45px;
    }

    .assistance {
        margin-left: 25px;
    }
}*/

/*utiliser max width 767 et 992*/
/*utiliser en pourcentage*/
/*utiliser max-width*/
/*cdn = depot distant pour icone ou autre*/
/*utiliser */



@media all and (min-width:768px) and (max-width:992px) {

    #menu {
        margin-left: 58%;
    }

    h1 {
        font-size: 18px;
    }

    .filtre {
        padding: 8px 8px;
    }

    section {
        display: flex;
        flex-direction: column;
        width:97%;
    }

    h4 {
        font-size: 13px;
    }

    article {
        margin-right: 0%;
    }

    article h2 {
        margin-left:5.3%;
    }

    article h3 {
        margin-left:5%;
    }

    .cards {
        gap:5%;
    }


    aside {
        margin-top: 5%;
        width:100%;
        height: 200px;
    }

    .titre_aside {
        margin-left:6.3%;
        margin-right:2%;
    }

    .titre_aside i {
        margin-right: 3%;
    }

    .cards2 {
        margin-left:4.3%;
        flex-direction: row;
        gap:10px;
        width: 93%;
    }

    .populaire {
        width: 90%;
        height: 120px;
    }

    .populaire h4 {
        width:104px;
    }

    .populaire figcaption {
        margin-right:17px;
    }

    .populaire figcaption .stars {
        margin-top: 55%;
    }

    .populaire2 figcaption .stars {
        margin-top:41%;
    }

    .populaire figcaption br {
        display: none;
    }

    .activite, .a_activite {
        height: 267px;
    }

    .activite img {
        height:85%;
    }

    .marge figcaption h4 {
        margin-right: 50px;
    }

    .activite h4 {
        margin-top: 0px;
    }

    .activite figcaption {
        margin-left:25px;
    }

    #activite h2 {
        margin-left: 0%;
    }

    .espace figcaption {
        margin-top:6px
    }

    footer {
        margin-top: 9%;
    }

    .cards3 {
        gap:4%;
        margin-right: 0%;
    }

    .aide {
        gap:30px;
    }
}

@media all and (max-width:767px) {


    body {
        margin:0px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0%;
    }

    nav img {
        width:61.09px;
        height:19px;
        margin-bottom: 40px;
    }

    #menu {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        margin:0px;
        width: 100%;
        gap:0px;
    }

    #menu span {
        width: 50%;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    #bleu, #noir {
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 27px;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    #bleu:hover, #noir:hover {
        border-bottom:3px solid #0065FC;
    }

    #menu span:hover {
        border-top:0px;
        padding-top:0px;
    }

    .rechercher {
        margin-left: 4%;
    }

    .lieu1 {
        display: flex;
        justify-content: right;
        margin-left: 4%;
    }

    .lieu1 p {
        font-size:19px;
    }

    .marseille {
        margin-top: 4%;
        margin-right: 3%;
    }

    .rectangle2 {
        width:80%;
    }

    h1 {
        margin-top:20px;
        font-size: 21px;
    }

    .rechercher span {
        display: none;
    }

    .buttonBleu i {
        display: block;
        font-size: 15px;
        color:white;
        padding:10px;
    }

    .carrer_gris {
        height:47px;
    }

    .filtre_barre {
        margin-top: 7%;
        flex-direction: column;
        align-items: baseline;
    }

    .filtre_barre h3 {
       display: flex;
       justify-items: start;
    }


    .filtres {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:17px;
        width: 100%;
    }

    .filtre {
        align-items: center;
        width: 38%;
        height: 30px;
        font-size: 11px;
        padding: 8px 8px;
    }

    .filtre i {
        font-size: 20px;
    }

    .fa-info {
        width: unset;
        height: unset;
        padding:5px 8px;
    }

    .barre_info p {
        width: max-content;
        font-size: 14px;
    }

    .barre_info p br {
        display:block;
    }

    section {
        display: grid;
        flex-direction: column;
        grid-template-columns: none;
        width:100%; 
        margin-top: 30px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        gap: 70px;
        margin-top: 0px;
    }

    .image, .hebergement {
        display: flex;
        justify-content: center;
        width:97%;
        height: 175px;
        margin:0px;
    }

    .hebergement .stars {
        margin-bottom: 5px;
    }

    article h2 {
        margin-left: 4%;
    }

    aside {
        width: 100%;
        height: 585px;
        grid-row:1;
        border-radius:0px;
        margin:0px;
        margin-top: 20px;
    }


    .titre_aside {
        margin-left: 5%;
        gap:unset;
        display: flex;
        justify-content:space-between;
    }

    .a_cards2, .populaire {
        margin:0px;
        width: 97%;
        height:144px;
    }

    .cards2 {
        width:97%;
        margin-top:6%;
        gap:15px;
        align-items: center;
        margin-left: 7px;
    }

    .populaire img {
        height: 143px;
        width:40%;
        border:white solid 5px;
    }

    .populaire figcaption {
        margin-top: 7px;
    }

    .populaire .stars {
        margin-top: 55px;
    }

    .populaire3 .stars {
        margin-top: 75px;
    }

    h2 {
        font-size: 22px;
    }

    h4, .activite h4 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    section h3 {
        visibility: hidden;
    }

    .fa-star {
        font-size: 12px;
    }

    .populaire3 {
        margin-left:0px;
    }

    article {
        margin:0px;
        background: white;
        border-radius: 0px;
    }

    .cards3 {
        display: flex;
        flex-direction: column;
        margin-left:1%;
        gap:10px;
    }

    .activite, .a_activite {
        margin-left: 2%;
        width:96%;
        height:190px;
    }

    .activite img {
        height:134px;
    }

    #activite {
        height: 886px;
    }

    #activite h2 {
        margin-right: 58%;
        margin-left: 5%;
    }


    footer {
        width:100%;
    }

    .aide {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left:-21px;
        gap:19px;
    }

    .propos {
        margin-top:20px;
        margin-left: 0px;
    }

    .act {
        margin-left:15px;
    }

    footer li {
        font-size: 16px;
    }

    footer h4 {
        font-size: 18px;
    }

}